<!DOCTYPE html>
<html>
  <head lang="en">
    <meta charset="UTF-8">
    <title>Flask Draw App</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- styles -->
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='bower_components/bootstrap/dist/css/bootstrap.min.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='bower_components/pure/grids-responsive-min.css') }}">

    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.css') }}">
  </head>
  <body>

  <section class="header">
      <div class="head"> <h1> Heading </h1>
       {% if date %}
          <h4> {{date}} </h4>
       {%  endif %}
      </div>
  </section>
  <section class='main-content'>
    <div class="contain">
      <div class='col-lg-12' id="main">
        <h2 class="center"> SUBTEXT GOES HERE </h2>
      </div>
      <div id="main">
        <!-- content here-->
      </div>
    </div>
  </section>

    <!-- scripts -->
    <script src="{{ url_for('static', filename='bower_components/react/react.min.js') }}"></script>
    <script src="{{ url_for('static', filename='bower_components/jquery/dist/jquery.min.js') }}"></script>
    <script src="{{ url_for('static', filename='bower_components/bootstrap/dist/js/bootstrap.min.js') }}"></script>
    <script src="{{ url_for('static', filename='scripts/main.js') }}"></script>
  </body>
</html>